/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  box-sizing: border-box;
}
.button {
  border: 2px #222 solid;
  padding: 1.2rem;
  margin: 2rem 0;
  text-align: center;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
.menu {
  position: fixed;
  background-color: #222;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
  min-height: 100vh;
  width: 100%;
}
.menu .top {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  flex-direction: row;
  max-height: 80px;
}
.menu .dropdown-content {
  margin-top: 20%;
}
.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 3rem;
}
.menu li {
  padding-bottom: 3rem;
}
.menu img:hover {
  cursor: pointer;
}
.menu-hidden {
  display: none;
}
nav {
  background-color: #98A4AF;
  max-width: 1280px;
  margin: 0 auto;
  height: 60px;
  z-index: 1;
}
nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: baseline;
}
nav .container h1 {
  font-size: 3rem;
  color: #fff;
}
nav img:hover {
  cursor: pointer;
}
footer {
  background-color: #828282;
  color: #fff;
  padding: 20px 20px;
  max-width: 1280px;
  margin: 0 auto;
}
footer h4 {
  font-weight: 700;
  font-size: 1.9rem;
  padding-bottom: 0.5rem;
}
footer .caption-text {
  font-size: 1.2rem;
}
footer .footer-box-sm {
  padding: 20px 0;
}
footer .email-input {
  width: 90%;
  margin: 10px 0;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  footer .top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .top-row .footer-box-sm {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  footer .top-row {
    width: 80%;
    margin: 0 auto;
  }
  footer .bottom-row {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
  }
}
.home .hero {
  background-image: url('../img/home/home-jumbotron.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 260px;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
.home .hero .heading-box {
  position: absolute;
  bottom: 20px;
}
.home .hero h2 {
  font-size: 4rem;
  line-height: 4rem;
  padding-left: 2rem;
  font-weight: 400;
  color: #fff;
}
@media (min-width: 768px) {
  .home .hero {
    min-height: 420px;
    background-position: bottom;
  }
}
.home .content-box {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.home .content-box h3 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .home .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .home .row:nth-child(1) {
    flex-direction: row-reverse;
  }
  .home .sm-box {
    max-width: 44%;
  }
  .home .cta .row {
    padding-top: 40px;
  }
  .home .cta .row:last-child {
    padding-bottom: 40px;
  }
}
.home .recent .img-box img {
  min-width: 100%;
}
.home .recent .img-heading {
  position: relative;
}
.home .recent h2 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  font-weight: 700;
}
.home .recent .recent-heading-box-mobile {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-top: -20px;
  background-color: #d8d8d8;
  width: 90%;
}
.home .recent .recent-heading-box-mobile h3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1rem;
  text-align: center;
}
.home .recent .recent-heading-box-right,
.home .recent .recent-heading-box-left {
  display: none;
}
@media (min-width: 768px) {
  .home .recent .recent-heading-box-right {
    display: block;
    position: absolute;
    background-color: #d8d8d8;
    margin-top: -20px;
    right: 0;
  }
  .home .recent .recent-heading-box-right h3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
  }
  .home .recent .recent-heading-box-left {
    display: block;
    position: absolute;
    background-color: #d8d8d8;
    margin-top: -20px;
    left: 0;
  }
  .home .recent .recent-heading-box-left h3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
  }
}
.home .recent .desktop-hidden {
  display: block;
}
.home .recent .mobile-hidden {
  display: none;
}
@media (min-width: 768px) {
  .home .recent body {
    background-color: red;
  }
  .home .recent .desktop-hidden {
    display: none;
  }
  .home .recent .mobile-hidden {
    display: block;
  }
  .home .recent .row {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .home .recent .content-box {
    max-width: 400px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.home .bottom-spaced {
  padding-bottom: 2rem;
}
.home .top-spaced {
  padding-top: 6rem;
}
@media (min-width: 768px) {
  .home .home-content {
    max-width: 800px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .home .recent-heading-box-mobile {
    display: none;
  }
}
.services .hero {
  background-image: url('../img/services/services-jumbotron.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 250px;
  max-width: 1280px;
  margin: 0 auto;
}
.services .hero .heading-box {
  position: absolute;
  bottom: 20px;
}
.services .hero h1 {
  font-size: 4rem;
  line-height: 4rem;
  padding-left: 2rem;
  font-weight: 400;
  color: #fff;
}
@media (min-width: 768px) {
  .services .hero {
    height: 250px;
    background-position: bottom;
  }
}
.services .content-box {
  display: flex;
  flex-direction: column;
  padding: 3.5rem;
  max-width: 1280px;
  margin: 0 auto;
}
.services .content-box h3 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  font-weight: 700;
}
.services .content-box .intro-text {
  padding-bottom: 3rem;
  max-width: 900px;
  margin: 0 auto;
}
.services .content-box .tabs-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
}
.services .content-box .tabs-links :hover {
  background-color: #222;
  color: #fff;
}
@media (min-width: 768px) {
  .services .content-box .tabs-links {
    max-width: 900px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }
}
.services .content-box .tabs-links .tabs-link {
  padding: 2rem;
  border: 2px solid #222;
  margin: 0.5rem;
}
@media (min-width: 768px) {
  .services .content-box .tabs-links .tabs-link {
    width: 200px;
  }
}
.services .content-box .tabs-links .selected {
  background-color: #5e9fb9;
  color: #fff;
}
.services .content-box .tabs-item-description {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.services .content-box .tabs-item-description p {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .services .content-box .tabs-item-description {
    flex-direction: row;
    max-width: 900px;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .services .content-box .tab-text {
    max-width: 48%;
  }
}
@media (min-width: 768px) {
  .services .content-box .tabs-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.services h2 {
  font-size: 2rem;
  font-weight: 900;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.services .tabs-item {
  display: none;
}
.services .selected {
  display: block;
}
