//global styles

html {
    font-size: 62.5%;
}

body {
    background-color: purple;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}
