
.home {

    .hero {
        background-image: url('../img/home/home-jumbotron.png');
        background-size:  cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        min-height: 260px;
        position: relative;

        .heading-box {
           position: absolute;
           bottom: 20px;
        }

        h2 {
            font-size: 4rem;
            line-height: 4rem;
            padding-left: 2rem;
            font-weight: 400;
            color: @white;
        }

        @media (min-width: 768px) {
            min-height: 420px;
            background-position: bottom;
        }
    }

    .content-box {
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        padding: 1.5rem;

        h3 {
            font-size: 2.5rem;
            padding-bottom: 2rem;
            font-weight: 700;
        }


    }

    @media (min-width: 768px) {

        .row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &:nth-child(1) {
                flex-direction: row-reverse;
            }
        }
        .sm-box {
            max-width: 44%;
        }

        .cta .row {
            padding-top: 40px;

            &:last-child {
                padding-bottom: 40px;
            }
        }
    }

    .recent {

        .img-box {
            img {
                min-width: 100%
            }
        }

        .img-heading {
            position: relative;
        }

        h2 {
            font-size: 2.5rem;
            padding-bottom: 2rem;
            padding-left: 2rem;
            font-weight: 700;
        }

        .recent-heading-box {
            position: absolute;
            // top: 40;
            right: 0;
            // bottom: 40;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-top: -20px;
            background-color: @ltgrey;
            width: 90%;


            h3 {
                padding-top: 3rem;
                padding-bottom: 3rem;
                font-size: 2.2rem;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 1rem;
            }

            @media (min-width: 768px) {
                .recent-heading-box {
                    max-width: 30%;

                    .right-aligned {
                        align-items: flex-end;
                    }
                }

            }
        }

        .desktop-hidden {
            display: block;
        }

        .mobile-hidden {
            display: none;
        }
        
        @media (min-width: 768px){

            body {
                background-color: red;
            }
            .desktop-hidden {
                display: none;
            }
    
            .mobile-hidden {
                display: block;
    
            }
    
            .row {
                flex-direction: column;
            }
        }

        @media (min-width: 768px) {
        .content-box {
            max-width: 400px;
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }

    }


    .bottom-spaced {
        
        padding-bottom: 2rem;
    }

    .top-spaced {
        padding-top: 6rem;
    }

    @media (min-width: 768px) {
        .home-content {
            max-width: 800px;
            margin: 0 auto;
        }
    }

}