
nav {
    background-color: @bluegrey;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: .5rem;
        align-items: baseline;
    }
}

h1 {
    font-size: 2rem;
    color: @white;
}